/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/


h1 {
  color:white;
  font-size:4em;
  font-weight:bold;
  text-align: center;
  position:relative;
  top:200px;
}

h2 {
  color:white;
  font-size:4em;
  font-weight:bold;
  text-align: center;
  position:relative;
  top:150px;
}

h3 {
  color:#323232;
  font-size:2em;
  font-weight:bold;
  font-family: Georgia, serif;
  text-align: center;
  position:relative;
  padding:100px 0 40px 0;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.font {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.center-text{
  text-align: center;
  color:#8D8D8D;
  margin:10px 400px;
  padding:10px;
}

.banner {
  width:1903px;
  height:625px;

}

.sub-banner {
  width:1903px;
  height:400px;
}
#top-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/top-banner.png') no-repeat; 

}

#xbone-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/xbone-banner.png') no-repeat; 

}

#desk-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/desk-banner.png') no-repeat; 

}

#code-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/code-banner.png') no-repeat; 

}

#iphone-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/iphone-banner.png') no-repeat; 

}


#forkme_banner {
  display: block;
  position: relative;
  float:left;
  top:0;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') maroon no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#topmenudiv {
    position:fixed;
    float:right;
    top:1px;
    background-color:#303030;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    z-index:9999;
}

#topmenudiv ul {
    padding:0;
    margin:0;

}

#topmenudiv li {

    list-style:none;
    font-weight:bold;
    font-size:1em;
    color:white;
    border-left:1px solid white;
    height:100%;
    padding:10px 20px 10px 20px;
    float:right;

} 
